/* game board table */
#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
  vertical-align: bottom;  /* Ensure pieces drop to the bottom of the cell */
}

.piece {
  border-radius: 50%;   /* Makes the pieces circular */
  margin: 5px;
  width: 80%;
  height: 80%;
  background-color: red;   /* Default color */
  position: relative;  /* Allow for potential animation */
  transition: top 0.5s;    /* Animation for the dropping effect */
}

/* Distinguish between player 1 and 2 pieces */
.p1 {
  background-color: red;
}

.p2 {
  background-color: blue;
}

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}